/* form{
    align-items: center;
}

h1{
    text-align: center;
} 

card{
    align-items: center;
}*/
body,
html,
*{    box-sizing: border-box;
    margin: 0;
    padding: 10;
}

p{
    font-size: 4vh;
    color: black;
    text-align: center;

}
.form {
    font-size: 2vh;
    color: black;
    text-align: center;
}
.card{
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
border-radius: 10px;
margin-bottom: 40px;
}
img{
    width: 20%
}

.title{
    font-size: 1rem;
    margin-top: 2rem;
    color: rgb(27, 41, 53);
}
.author{
    font-size: 1rem;

}
.container{
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 5rem auto;
    padding: 5px;
    flex-direction: row;
    }

a{
  color: rgb(27, 41, 53);
}